Repository whanwells/romaja: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier -- write, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.html": "prettier -- write",
  "*.{js,ts,vue}": ["eslint --fix", "prettier --write"]
}

Add vue-tsc
  .husky/pre-commit
  package-lock.json
  package.json
Due: none

Downgrade Vite
  package-lock.json
  package.json
Due: none

Update tsconfig
  tsconfig.json
Due: none

Update readme
  README.md
Due: none

Enable globals in tests
  vite.config.ts
Due: eslint --fix, prettier --write

Fix issues when input is composing
  src/App.vue
  src/components/TextArea.vue
Due: eslint --fix, prettier --write

Redesign
  .lintstagedrc
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  index.html
  package-lock.json
  package.json
  src/App.test.ts
  src/App.vue
  src/components/EntryListItem.vue
  src/components/FormLabel.vue
  src/components/SourceForm.vue
  src/components/TextArea.vue
  src/main.ts
  src/pages/HomePage.vue
  src/pages/ResultPage.vue
  src/router.ts
  src/stores/source.ts
  src/vite-env.d.ts
  tailwind.config.js
Due: prettier -- write, eslint --fix, prettier --write

Add `netlify.toml`
  netlify.toml
Due: none

Fix landscape mode bug
  src/pages/HomePage.vue
Due: eslint --fix, prettier --write

Always scroll to top of page
  src/router.ts
Due: eslint --fix, prettier --write

Increase font size to prevent zooming
  src/components/SourceForm.vue
Due: eslint --fix, prettier --write

Remove autofocus
  src/components/SourceForm.vue
Due: eslint --fix, prettier --write

Fix scrolling behavior
  src/App.vue
  src/components/EntryListItem.vue
  src/components/SourceForm.vue
  src/pages/HomePage.vue
  src/pages/ResultPage.vue
Due: eslint --fix, prettier --write

Naming nit
  src/pages/ResultPage.vue
Due: eslint --fix, prettier --write

Compute lines in result page
  src/pages/ResultPage.vue
  src/stores/source.ts
Due: eslint --fix, prettier --write

Add clear button
  src/components/SourceForm.vue
Due: eslint --fix, prettier --write

Update home page
  src/components/SourceForm.vue
  src/pages/HomePage.vue
Due: eslint --fix, prettier --write

Romanize characters
  src/components/EntryListItem.vue
  src/romanize.test.ts
  src/romanize.ts
Due: eslint --fix, prettier --write

Update placeholder
  src/components/SourceForm.vue
Due: eslint --fix, prettier --write
